{% extends "testingapp/includes/public_base.html"%}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} Done | APL Testing {% endblock title %}

{% block public_content %}
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="card card-block w-50 mx-auto">
                <div class="card-body">
                    <h1>Complete!</h1>
                    This assignment, {{ test }}, is now complete! If you wish to practice more, feel free to do this assignment again with freshly generated questions.
                    
                    <br><br> You answered {{ amount_correct }} out of {{ amount_total }} questions correctly. {% if all %}You should submit a screenshot of this page on the course website.{% endif %}
                    <br><br> <input type="button" value="Restart" onclick="closeTest()" class="btn btn-primary" autofocus>
                </div>
                <div class="card-footer text-muted">
                    This website is part of the <a href="https://proglab.nl">Programming Lab</a> of the <a href="https://uva.nl">University of Amsterdam</a>.
                </div>
            </div>
        </div>
    </div>
{% endblock public_content %}

{% block public_scripts %}
    <script>
        function closeTest() {
            {% if all %}
                Swal.fire({
                    icon: 'warning',
                    title: 'Hold on!',
                    text: 'If you haven\'t already, you should take a screenshot of your results now, and upload it on the course website.',
                    showCancelButton: true,
                    confirmButtonText: 'Done! Close the test',
                    cancelButtonText: 'Take me back!',
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '{% url 'select' %}';
                    }
                });
            {% else %}
                window.location.href = '{% url 'select' %}';
            {% endif %}
        }
    </script>
{% endblock public_scripts %}
