{% extends "testingapp/includes/public_base.html"%}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} Assignment | APL Testing {% endblock title %}

{% block public_content %}
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="card card-block w-50 mx-auto">
                <div class="card-body">
                    <h1>{{ test.name }}</h1>
                    <span class="badge text-white bg-primary">Question {{ request.session.total|add:1 }} of {{ total_questions }}</span><br><br>
                    {% if question.question_type == 'Final value' %}
                        Evaluate the snippet of code below. Provide the <b>final value</b> for each of the variables. <br>
                    {% elif question.question_type == 'Evaluate' %}
                        Evaluate the code below <br>
                    {% endif %}
                    <pre>

{{ full_text }}
                    </pre>
                    <hr>
                    <form action="{% url 'test' %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" onclick="this.form.submit(); this.disabled=true;" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    This website is part of the <a href="https://proglab.nl">Programming Lab</a> of the <a href="https://uva.nl">University of Amsterdam</a>.
                </div>
            </div>
        </div>
    </div>
{% endblock public_content %}
