[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-crispy-forms = "*"
numpy = "*"
"basis>=0-0-1" = {git = "https://github.com/jelleas/basis.git"}
"basis-testing>=0-0-1" = {git = "https://github.com/apltools/basis_testing.git"}
antlr4-python3-runtime = "==4.7.2"
colorama = "==0.4.1"
gunicorn = "*"
xeger = "*"

[requires]
python_version = "3.8"
